<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sam Boyd</title>
    <link rel="stylesheet" href="/static/tufte.css"/>
    <link rel="stylesheet" href="/static/site.css"/>
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
<main>
    <div class="page-wrapper">
    <div class="sidebar">
        <div><img class="icon" src="/static/favicon/android-chrome-512x512.png" alt="bad-icon"/></div>
        <div class="name-title">Sam Boyd</div>
        {% for blog in blogs %}
            <div class="blog-link-wrapper">
                <a href="#{{ blog.href }}" class="blog-link">{{ blog.title }}</a>
            </div>
        {% endfor %}

        <div class="link-wrapper">
            <div class="logo">
                <a href="https://github.com/samboyd">
                    <img class='logo-img' src="/static/github.png" alt="link to my github"/>
                </a>
            </div>

            <div class="logo">
                <a href="https://pythonanywhere.com">
                    <img class='logo-img' src="/static/PA-logo-snake-only.svg" alt="PythonAnywhere"/>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        {% for blog in blogs %}
            <div id="{{ blog.href }}">
            <article>
                <section>
                    <h1 id="mn-demo">{{ blog.title }}</h1>
                    <p>{{ blog.created_at }}</p>
                    {% for paragraph in blog.content %}
                        <p>{{ paragraph }}</p>
                    {% endfor %}
                </section>
            </article>
            </div>
        {% endfor %}
    </div>
    </div>
</main>
</body>
</html>